<div>
   <br><%= current_year %>, Горшкова Алёна, <%= link_to 'TestGuru', github_url('Alyona-GS', 'Test_Guru') %>

  <br>Создание и прохождение различных тестов

  <br><a href="https://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
</div> 